body {
  background-color: #121212;
  height: 100vh;
}

.clock-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-family: 'Gill sans', sans-serif;
  color: white;
  font-size: 40vw;
  text-align: center;
  vertical-align: center;
}